In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
import ipywidgets as pw
import seaborn as sns
import traitlets
import bqplot
from matplotlib.pyplot import figure
from pandas import DataFrame
from mpl_toolkits.mplot3d import Axes3D

sns.set(style = "whitegrid", color_codes=True)
%matplotlib inline

## User dataset

In [78]:
# load the user dataset
user_data = pd.read_csv('csv_after_trifacta/newusers6.csv')
user_data.head()

,user_id,order_id,product_id,product_name,descriptions,category_id,category_name,option_id,option_name,price,...,zipcode,email,phone,total_item,shipping_fee,tax,order_date,delivery_date,delivery_status,total_cost
0,999,1899.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1902.0,"ESC8000 G3 - 8 G Intel Xeon E5-1620 v3 (3.5G,1...",650.0,...,73180,thomas95@yahoo.com,+44(0)116 4960084,4,7,0.32,10/8/2018,11/15/2018,1,2607.32
1,999,1899.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1902.0,"ESC8000 G3 - 8 G Intel Xeon E5-1620 v3 (3.5G,1...",750.0,...,73180,thomas95@yahoo.com,+44(0)116 4960084,4,7,0.32,10/8/2018,11/15/2018,1,3007.32
2,998,1898.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1901.0,ESC8000 G3 - 8 G Intel Xeon E5-1603 V4(2.80GHz...,650.0,...,80952,wilsonjennifer@beltran.com,+44117 4960443,9,28,0.15,10/11/2018,11/14/2018,1,5878.15
3,998,1898.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1901.0,ESC8000 G3 - 8 G Intel Xeon E5-1603 V4(2.80GHz...,750.0,...,80952,wilsonjennifer@beltran.com,+44117 4960443,9,28,0.15,10/11/2018,11/14/2018,1,6778.15
4,997,1897.0,1800.0,Ipad Mini 3th gen,3th gen Everything you love about iPad รณ the b...,4200.0,Tablets,1802.0,Ipad Mini 10-inch,499.0,...,56695,sharon72@lewis.com,(0808) 1570594,9,23,0.51,10/15/2018,12/19/2018,0,4514.51

In [79]:
user_data.shape

(1698, 26)

In [80]:
user_data.dtypes

user_id              int64
order_id           float64
product_id         float64
product_name        object
descriptions        object
category_id        float64
category_name       object
option_id          float64
option_name         object
price              float64
on_sale            float64
specs               object
username            object
full_name           object
street_address      object
state               object
zipcode              int64
email               object
phone               object
total_item           int64
shipping_fee         int64
tax                float64
order_date          object
delivery_date       object
delivery_status      int64
total_cost         float64
dtype: object

In [81]:
user_data.describe()

,user_id,order_id,product_id,category_id,option_id,price,on_sale,zipcode,total_item,shipping_fee,tax,delivery_status,total_cost
count,1698.000000,1602.000000,1602.000000,1602.000000,1602.000000,1602.000000,1602.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000,1698.000000
mean,554.455241,1461.037453,1773.657928,4218.726592,1775.172285,704.309613,0.569288,50682.637220,5.161366,16.591284,0.472733,0.480565,3651.263074
std,258.559633,255.171963,322.455798,151.193879,322.422685,351.267058,0.495330,28364.647694,2.992210,8.072679,0.307495,0.499769,3004.959951
min,107.000000,1007.000000,1200.000000,4000.000000,1201.000000,10.000000,0.000000,584.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,340.250000,1245.000000,1600.000000,4100.000000,1601.000000,499.000000,0.000000,27249.000000,3.000000,10.000000,0.200000,0.000000,1404.045000
50%,547.500000,1460.000000,1700.000000,4200.000000,1702.000000,650.000000,1.000000,51131.500000,5.000000,17.000000,0.470000,0.000000,3219.620000
75%,781.750000,1683.000000,2000.000000,4300.000000,2001.000000,899.000000,1.000000,75906.000000,8.000000,23.000000,0.750000,1.000000,5026.055000
max,999.000000,1899.000000,2600.000000,4600.000000,2602.000000,2199.000000,1.000000,99908.000000,10.000000,30.000000,1.000000,1.000000,22011.640000

In [82]:
user_data['order_date']= user_data['order_date'].replace({'':np.nan}).ffill()

In [8]:
#user_data.sort_values(by=['order_date'],inplace=True)
#user_data.sort_values(['order_date']).groupby('order_date')

In [9]:
#user_data_order_date = user_data.sort_values(['user_id','order_date']).groupby('order_date')
#user_data_order_date

In [83]:
#identify and separate big spenders, lots of orders for
#sales and marketing campaign use; need to be separate flags because they aren't all mutually
#exclusive

def big_spender(row):
    if row['total_cost'] >= 5026.05:
        return 'Yes'
    else:
        return 'No'

def many_orders(row):
    if row['total_item'] >= 10:
        return 'Yes'
    else:
        return 'No'

user_data['big_spender'] = user_data.apply(big_spender, axis=1)
user_data['many_orders'] = user_data.apply(many_orders, axis=1)

In [84]:
user_data.head()

,user_id,order_id,product_id,product_name,descriptions,category_id,category_name,option_id,option_name,price,...,phone,total_item,shipping_fee,tax,order_date,delivery_date,delivery_status,total_cost,big_spender,many_orders
0,999,1899.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1902.0,"ESC8000 G3 - 8 G Intel Xeon E5-1620 v3 (3.5G,1...",650.0,...,+44(0)116 4960084,4,7,0.32,10/8/2018,11/15/2018,1,2607.32,No,No
1,999,1899.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1902.0,"ESC8000 G3 - 8 G Intel Xeon E5-1620 v3 (3.5G,1...",750.0,...,+44(0)116 4960084,4,7,0.32,10/8/2018,11/15/2018,1,3007.32,No,No
2,998,1898.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1901.0,ESC8000 G3 - 8 G Intel Xeon E5-1603 V4(2.80GHz...,650.0,...,+44117 4960443,9,28,0.15,10/11/2018,11/14/2018,1,5878.15,Yes,No
3,998,1898.0,1900.0,ESC8000 G3,G3 High-density GPU server with hybrid computi...,4300.0,Servers,1901.0,ESC8000 G3 - 8 G Intel Xeon E5-1603 V4(2.80GHz...,750.0,...,+44117 4960443,9,28,0.15,10/11/2018,11/14/2018,1,6778.15,Yes,No
4,997,1897.0,1800.0,Ipad Mini 3th gen,3th gen Everything you love about iPad รณ the b...,4200.0,Tablets,1802.0,Ipad Mini 10-inch,499.0,...,(0808) 1570594,9,23,0.51,10/15/2018,12/19/2018,0,4514.51,No,No

## Vendor Dataset

In [42]:
# load the user dataset
vendor_data = pd.read_csv('csv_after_trifacta/vendor_product_option_category.csv')
vendor_data.head()

,option_id,option_name,vendor_id,vendor_name,vendor_phone,vendor_email,product_id,quantity,price,on_sale,specs,category_id,category_name
0,1201,Macbook Pro 13.3-inch,5000,Apple,2569561656,apple@gmail.com,1200,3,1299,1,Macbook Pro 13.3-inch (diagonal) LED-backlit d...,4000,Laptops
1,1202,Macbook Pro 15.4-inch,5000,Apple,2569561656,apple@gmail.com,1200,2,2199,0,Macbook Pro 15.4-inch (diagonal) LED-backlit d...,4000,Laptops
2,1301,Macbook Air 11.6-inch,5000,Apple,2569561656,apple@gmail.com,1300,1,999,0,Macbook Air 11.6-inch (diagonal) LED-backlit g...,4000,Laptops
3,1302,Macbook Air 13-inch,5000,Apple,2569561656,apple@gmail.com,1300,4,1099,1,Macbook Air 13.3-inch (diagonal) LED-backlit g...,4000,Laptops
4,1401,Iphone X 128GB,5100,Microsoft,6165486561,microsoft@gmail.com,1400,5,799,1,Iphone X Storage capacity 128 GB,4100,Mobile phones

In [59]:
vendor_data.shape

(30, 13)

In [57]:
vendor_data['vendor_name'].unique()

array(['Apple ', 'Microsoft ', 'Lenovo ', 'Asus ', 'Dell ', 'Monoprice ',
       'Sony '], dtype=object)

In [ ]:
#identify and separate big spenders, lots of orders for
#sales and marketing campaign use; need to be separate flags because they aren't all mutually
#exclusive

def big_spender(row):
    if row['total_dollars'] >= 437.16:
        return 'Yes'
    else:
        return 'No'

def many_orders(row):
    if row['total_item'] >= 10:
        return 'Yes'
    else:
        return 'No'

user_data['BigSpender'] = user_data.apply(big_spender, axis=1)
user_data['ManyOrders'] = user_data.apply(many_orders, axis=1)